{% extends 'segmentation/base.html' %}

{% load static %}

{% block content %}
<h1 class="page_name">{{title}}</h1>

<form method="post" enctype="multipart/form-data">
{#action="{% url 'add_page' %}"#}
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <div class="file-upload">
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>{{ f }}
        </div>

        <div id="preview"></div>
        <div id="file-name"></div>

        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button id="upload-to" class="segment" type="submit">Сегментировать</button>
</form>
    <a class="segment" href="{% url 'load_archive' %}">Загрузить Архивом</a>
<script type="text/javascript">
$('.uploaded-file').on('change', function () {
    getFileParam();
    $('.footer').css({"margin-top": "5vh"});
});

function getFileParam() {
    try {
        var file = document.getElementsByClassName('uploaded-file').item(0).files[0];
        if (file) {
            document.getElementById('file-name').innerHTML = file.name;

            if (/\.(jpe?g|bmp|gif|png)$/i.test(file.name)) {
                var elPreview = document.getElementById('preview');
                elPreview.innerHTML = '';
                var newImg = document.createElement('img');
                newImg.className = "preview-img";

                if (typeof file.getAsDataURL=='function') {
                    if (file.getAsDataURL().substr(0,11)=='data:image/') {
                        newImg.setAttribute('src',file.getAsDataURL());
                        elPreview.appendChild(newImg);
                    }
                }else {
                    var reader = new FileReader();
                    reader.onloadend = function(evt) {
                        if (evt.target.readyState == FileReader.DONE) {
                            newImg.setAttribute('src', evt.target.result);
                            elPreview.appendChild(newImg);
                        }
                    };

                    var blob;
                    if (file.slice) {
                        blob = file.slice(0, file.size);
                    }else if (file.webkitSlice) {
                            blob = file.webkitSlice(0, file.size);
                        }else if (file.mozSlice) {
                            blob = file.mozSlice(0, file.size);
                        }
                    reader.readAsDataURL(blob);
                }
            }
        }
    }catch(e) {
        alert("file3")
        var file = document.getElementsByClassName('uploaded-file').item(0).value;
        file = file.replace(/\\/g, "/").split('/').pop();
        document.getElementById('file-name').innerHTML = file;
    }
}
</script>
{% endblock %}
